.app {
  min-height: 100vh;
}
.dark {
  background-color: #001970;
  color: #ffffff;
}

.dark article,
.dark .header,
.dark > .header > .container,
.dark .header div {
  background-color: #2f3e9e !important;
  color: #ffffff;
}
